@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body.light {
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
}
:root {
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);
  --Font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}
body {
  background-color: var(--Very-Dark-Blue);
}
main {
  position: relative;
  top: -10em;
  width: 93%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
section {
  width: 93%;
  position: absolute;
  overflow-x: hidden;
}
@media screen and (min-width: 720px) {
  section {
    max-width: 900px;
  }
}
header {
  background-image: url(../images/bg-mobile-dark.jpg);
  background-size: cover;
  height: 14em;
  width: 100%;
}
.toggle_theme {
  background-image: url("../images/icon-sun.svg");
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8em;
}
.top h1 {
  color: white;
  font-weight: 550;
  letter-spacing: 0.3em;
  font-size: 1.5em;
}
section div input[type="text"] {
  width: 100%;
  padding: 1.4em 2em;
  outline: none;
  border: none;
  border-radius: 0.4em;
  font-weight: 500;
  font-size: 1em;
  color: var(--Dark-Grayish-Blue);
  background-color: var(--Very-Dark-Desaturated-Blue);
}

section div input[type="text"]::placeholder {
  font-weight: 500;
  color: var(--Dark-Grayish-Blue);
}
.inputs {
  display: flex;
  align-content: center;
  height: 4em;
  position: relative;
  margin-bottom: 1.5em;
}
.inputs span {
  position: absolute;
  top: 21%;
  color: hsl(220, 98%, 61%);
  right: 0.4em;
  font-size: 2.5em;
  font-weight: 300;
  border: 1px solid var(--Very-Dark-Grayish-Blue);
  border-radius: 50%;
  width: 0.9em;
  height: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inputs span:hover {
  transition: 0.3s ease-in-out;
  border-color: hsl(220, 96%, 67%);
}
.Todo_output {
  width: 100%;
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
}
.text-render {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.9em;
  font-weight: 420;
  /* text-decoration: line-through; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
}
.list_p {
  display: flex;
  align-content: center;
  gap: 0.7em;
  width: 100%;
  height: 100%;
}
.list_p p {
  margin-top: 0.6em;
}
/* before complete tastk */
.text-render .circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Very-Dark-Grayish-Blue);
}
/* task check to complete */
.text-render .circle_check {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.4s ease-in-out;
  background: linear-gradient(45deg, hsl(220, 98%, 61%), hsl(280, 87%, 65%));
}

.circle:hover img {
  cursor: pointer;
}
.circle:hover {
  cursor: pointer;
}

.text-render img {
  width: 1em;
  height: 1em;
  cursor: pointer;
}
.count {
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 14px;
  font-weight: 430;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4em;
  padding: 0.8em;
}

.clear {
  display: flex;
  gap: 1em;
}

.status {
  color: var(--Dark-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  background-color: var(--Very-Dark-Desaturated-Blue);
  width: 100%;
  height: 2.9em;
  border-radius: 0.4em;
  font-weight: 400;
}
.status div:nth-child(1) {
  color: hsl(220, 98%, 61%);
}
.status div:hover {
  color: hsl(220, 98%, 61%);
}
.completed {
  text-decoration: line-through;
}
